<div>
  <p style='margin-bottom: 0;'>We have received a request to reset your
    password.</p>
  <p style='margin-top: 0;'>You can now reset your password by clicking the
    below link:</p>
  <p><a href='{{passwordResetLink}}'>Click here</a></p>
  <p>This password reset form can only be used once and will expire after 2
    hours.</p>
  <br />
  <br />
  <p style='margin-bottom: 0;'>Thanks,</p>
  <p style='margin-top: 0;'>Koleso</p>
</div>
